.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.4rem 3.6rem;
  background-color: #303030;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style-type: none;
}

.nav__link {
  position: relative;
  padding: 0 0.6rem;
  color: #d9d9d9;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -1px;
}

.nav__link:hover {
  color: #eee;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.6rem;
  width: 4.6rem;
}

.logo {
  height: 100%;
}

.header p {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d9d9d9;
}

.header p span {
  color: #38b6ff;
}

.heading-primary {
  font-size: 4.2rem;
}

.heading-secondary {
  margin: 4.2rem 0 3.2rem 0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.employees-table {
  margin: auto;
  width: 100rem;
}

.employees-table a {
  color: #555;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th {
  font-size: 1.6rem;
  padding: 2rem 0;
  background-color: #303030;
  color: #eee;
}

td {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.6rem;
}
