.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.4rem 3.6rem;
  background-color: #303030;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  list-style-type: none;
}

.nav__link {
  position: relative;
  padding: 0 0.6rem;
  color: #d9d9d9;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: -1px;
}

.nav__link:hover {
  color: #eee;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.6rem;
  width: 4.6rem;
}

.logo {
  height: 100%;
}

.header p {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d9d9d9;
  margin: 0;
}

.header p span {
  color: #38b6ff;
}

.heading-primary {
  font-size: 4.2rem;
}

.heading-secondary {
  margin: 3rem 0 1rem 0;
  text-align: center;
  color: #303030;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}

/* Employee table  */

.add-container {
  display: flex;
  width: 100rem;
  margin: auto;
  margin-bottom: 1.8rem;
}

.btn-add {
  color: #eee;
  background-color: #303030;
  margin-left: auto;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  font-weight: 600;
}

.btn-add:hover {
  background-color: #505050;
}

.table {
  margin: auto;
  width: 100rem;
}

.table a {
  color: #555;
}

.table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th {
  font-size: 1.6rem;
  padding: 2rem;
  background-color: #303030;
  color: #eee;
}

td {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.6rem;
}

.btn-manage {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  cursor: pointer;
}

.btn-delete {
  color: #eee;
  background-color: #c00707;
  margin-right: 1rem;
}

.btn-edit {
  color: #303030;
  background-color: #38b6ff;
}

/* Form  */

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  margin-top: 5rem;
  width: 50rem;
  border: 2px solid #303030;
  border-radius: 5px;
  padding: 2rem;
}

.form .heading-secondary {
  margin: 0;
}

.form label {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.form input {
  padding: 0.4rem;
  font-size: 1.4rem;
  color: #000;
  font-family: inherit;
  outline: none;
  border: none;
  border: 1px solid #303030;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.btn-save {
  padding: 0.6rem;
  color: #eee;
  background-color: #303030;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.invalid-input {
  color: #c00707;
  font-size: 1.2rem;
}

.select {
  font-size: 1.4rem;
  padding: 0.4rem;
}
